version: "3.8"
services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: arep_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: arep_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: arep_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
